[Unit]
Description=My Startup Script
After=network.target

[Service]
ExecStart=/home/$USER/Documents/StartUp.sh
/StartUp.sh
Type=idle

[Install]
WantedBy=multi-user.target
